@media only screen and (min-width: 768px) {
  .profileCard {
    border: 1px solid rgb(207 216 220);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(255 255 255);
    background-image: linear-gradient(to top right, #212121, #424242);
    border-radius: calc(var(--1) * 10);
    padding-bottom: calc(var(--1) * 20);
    padding-inline: calc(var(--1) * 20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(var(--1) * 10);
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding-block: calc(var(--1) * 20);

      p {
        display: flex;
        align-items: center;
        gap: calc(var(--1) * 5);

        span {
          font-size: calc(var(--1) * 35);
          color: var(--green);
        }
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      gap: calc(var(--1) * 8);
      border-bottom: 1px solid #ccc;
      padding-block: calc(var(--1) * 20);
    }
    .footer {
      padding-inline: calc(var(--1) * 20);
      li {
        list-style: disc;
        padding-block: calc(var(--1) * 5);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
    .profileCard {
        border: 1px solid rgb(207 216 220);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: rgb(255 255 255);
        background-image: linear-gradient(to top right, #212121, #424242);
        border-radius: calc(var(--dsm-1) * 10);
        padding-bottom: calc(var(--dsm-1) * 20);
        padding-inline: calc(var(--dsm-1) * 20);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: calc(var(--dsm-1) * 10);
        .header {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #ccc;
          padding-block: calc(var(--dsm-1) * 10);
    
          p {
            display: flex;
            align-items: center;
            gap: calc(var(--dsm-1) * 5);
    
            span {
              font-size: calc(var(--dsm-1) * 35);
              color: var(--green);
            }
          }
        }
        .body {
          display: flex;
          flex-direction: column;
          gap: calc(var(--dsm-1) * 8);
          border-bottom: 1px solid #ccc;
          padding-block: calc(var(--dsm-1) * 20);
        }
        .footer {
          padding-inline: calc(var(--dsm-1) * 20);
          li {
            list-style: disc;
            padding-block: calc(var(--dsm-1) * 5);
          }
        }
      }
}
