@media only screen and (min-width: 768px) {
  .homePage {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, Opera
    }
    .homeContainer{
      display: flex;
      flex-direction: column;
      gap: calc(var(--1) * 24);
      color: var(--textColor);
      .title{
        color: #222222;
        font-weight: bold;
        text-decoration: underline;
      }
      .statistic {
        display: flex;
        flex-direction: column;
        gap: calc(var(--1) * 24);
        color: var(--textColor);
        .content {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: calc(var(--1) * 24);
        }
      }
      .courses{
        display: flex;
        flex-direction: column;
        gap: calc(var(--1) * 24);
        color: var(--textColor);
        .content {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: calc(var(--1) * 24);
        }
      }
      .skills{
        display: flex;
        flex-direction: column;
        gap: calc(var(--1) * 24);
        color: var(--textColor);
        .content {
          display: flex;
          flex-wrap: wrap;
          gap: calc(var(--1) * 24);
        }
      }
    }

  }
}

@media only screen and (max-width: 767.98px) {
  .homePage {
    padding-bottom: calc(var(--dsm-1)*24);
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, Opera
    }
    .homeContainer{
      display: flex;
      flex-direction: column;
      gap: calc(var(--dsm-1) * 24);
      color: var(--textColor);
      .title{
        color: #222222;
        font-weight: bold;
        text-decoration: underline;
      }
      .statistic {
        display: flex;
        flex-direction: column;
        gap: calc(var(--dsm-1) * 24);
        color: var(--textColor);
        .content {
          display: grid;
          grid-template-columns: 1fr;
          gap: calc(var(--dsm-1) * 12);
        }
      }
      .courses{
        display: flex;
        flex-direction: column;
        gap: calc(var(--dsm-1) * 24);
        color: var(--textColor);
        .content {
          display: grid;
          grid-template-columns: 1fr;
          gap: calc(var(--dsm-1) * 12);
        }
      }
      .skills{
        display: flex;
        flex-direction: column;
        gap: calc(var(--dsm-1) * 24);
        color: var(--textColor);
        .content {
          // display: flex;
          // flex-wrap: wrap;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: calc(var(--dsm-1) * 12);
        }
      }
    }}
}
