@media only screen and (min-width: 768px) {
  .header {
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: var(--24);
      .total{
        display: flex;
        gap: calc(var(--1)*24);
        color: #212121;
        padding-block: calc(var(--1)* 14);
        padding-inline: calc(var(--1)* 32);
        font-style: normal;
        font-weight: bold;
        font-size: calc(var(--1) * 18);
        line-height: calc(var(--1) * 24);
        background-color: rgb(255 255 255 / 1);
        border-radius: calc(var(--1)*12);
        p{
          span{
            color: var(--green);
            font-size: calc(var(--1) * 25);

          }
        }
      }
      .rightBar {
        display: flex;
        gap: calc(var(--1) * 24);
      }
    }
    nav {
      border-block: 1px solid #212121;
      ul {
        display: flex;
        justify-content: center;
        gap: var(--40);
        padding-block: var(--19);
        li {
          a {
            display: flex;
            text-transform: uppercase;
            font-size: var(--18);
            padding-block: var(--5);
            position: relative;
            overflow: hidden;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: var(--green);
              transition: transform 300ms ease;
              transform: translateX(-101%);
            }
            &:hover {
              &::after {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .header {
    .topbar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-block: calc(var(--dsm-1) * 24);
      gap: calc(var(--dsm-1) * 10);
      .total{
        display: flex;
        flex-direction: column;
        gap: calc(var(--dsm-1)*10);
        color: #212121;
        padding-block: calc(var(--dsm-1)* 14);
        padding-inline: calc(var(--dsm-1)* 20);
        font-style: normal;
        font-weight: bold;
        font-size: calc(var(--dsm-1) * 18);
        line-height: calc(var(--dsm-1) * 24);
        background-color: rgb(255 255 255 / 1);
        border-radius: calc(var(--dsm-1)*12);
        p{
          span{
            color: var(--green);
            font-size: calc(var(--dsm-1) * 25);

          }
        }
      }
      .rightBar {
        display: flex;
        flex-direction: column;
        gap: calc(var(--1) * 24);
      }
    }
    nav {
      border-block: 1px solid #212121;
      ul {
        display: flex;
        justify-content: center;
        gap: calc(var(--dsm-1)*41);
        padding-block: calc(var(--dsm-1)*19);
        li {
          a {
            display: flex;
            text-transform: uppercase;
            font-size:  calc(var(--dsm-1)*18);
            padding-block:  calc(var(--dsm-1)*5);
            position: relative;
            overflow: hidden;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: var(--green);
              transition: transform 300ms ease;
              transform: translateX(-101%);
            }
            &:hover {
              &::after {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}
