@media only screen and (min-width: 768px) {
  .header {
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: var(--24);
      .total{
        display: flex;
        gap: calc(var(--1)*24);
        color: #212121;
        padding-block: calc(var(--1)* 14);
        padding-inline: calc(var(--1)* 32);
        font-style: normal;
        font-weight: bold;
        font-size: calc(var(--1) * 18);
        line-height: calc(var(--1) * 24);
        background-color: rgb(255 255 255 / 1);
        border-radius: calc(var(--1)*12);
        p{
          span{
            color: var(--green);
            font-size: calc(var(--1) * 25);

          }
        }
      }
      .rightBar {
        display: flex;
        gap: calc(var(--1) * 24);
      }
    }
    nav {
      border-block: 1px solid #212121;
      ul {
        display: flex;
        justify-content: center;
        gap: var(--40);
        padding-block: var(--19);
        li {
          a {
            display: flex;
            text-transform: uppercase;
            font-size: var(--18);
            padding-block: var(--5);
            position: relative;
            overflow: hidden;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: var(--green);
              transition: transform 300ms ease;
              transform: translateX(-101%);
            }
            &:hover {
              &::after {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .header {
    z-index: 2;
    position: absolute;
    .topbar {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      padding-inline: 5%;
      justify-content: space-between;
      align-items: center;
      padding-block: var(--24);
      z-index: 2;
      .logo {
        display: flex;
        position: relative;
        width: calc(var(--dsm-1) * 100);
        height: calc(var(--dsm-1) * 35.5);
      }
      .rightBar {
        display: flex;
        gap: calc(var(--1) * 24);
      }
    }
    nav {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--dark);
      z-index: 1;
      padding-top: calc(var(--dsm-1) * 100);
      transition: transform 500ms ease;
      transform: translateX(101%);
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: calc(var(--dsm-1) * 40);
        padding-block: calc(var(--dsm-1) * 19);
        li {
          a {
            display: flex;
            text-transform: uppercase;
            font-size: calc(var(--dsm-1) * 19);
            padding-block: calc(var(--dsm-1) * 5);
            position: relative;
            overflow: hidden;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: var(--green);
              transition: transform 300ms ease;
              transform: translateX(-101%);
            }
            &:hover {
              &::after {
                transform: translateX(0);
              }
            }
          }
        }
      }
      a {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 300ms ease 500ms, transform 300ms ease 500ms;
      }
      &.active {
        transform: translateX(0%);
        a {
          transform: translateY(0);

          opacity: 1;
        }
      }
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 16px;
      height: 12px;
      span {
        background-color: var(--green);
        width: 100%;
        height: 2px;
        display: flex;
        margin-left: auto;
        transition: all 500ms ease;
        &:nth-child(1) {
        }
        &:nth-child(2) {
          width: 50%;
          transform-origin: left;
        }
        &:nth-child(3) {
          width: 80%;
        }
      }
      &.active {
        span {
          background-color: var(--green);
          width: 100%;
          height: 2px;
          display: flex;
          margin-left: auto;
          &:nth-child(1) {
            transform: translateY(5px) rotate(135deg);
          }
          &:nth-child(2) {
            width: 50%;
            transform: scaleX(0);
          }
          &:nth-child(3) {
            width: 100%;
            transform: translateY(-5px) rotate(-135deg);
          }
        }
      }
    }
  }
}
