@media only screen and (min-width: 768px) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--1) * 14);
    padding-inline: calc(var(--1) * 32);
    border-radius: calc(var(--1) * 12);
    gap: calc(var(--1) * 10);
    background-color: var(--white);
    color: var(--dark);
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--1) * 18);
    line-height: calc(var(--1) * 24);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    border: none;
    cursor: pointer;
    &.white {
      background-color: var(--white);
      color: var(--dark);
      &::after {
        background-color: var(--dark);
      }
    }
    &.green {
      background-color: var(--green);
      color: var(--dark);
      &::after {
        background-color: var(--dark);
      }
    }
    &.dark {
      background-color: var(--dark);
      color: var(--white);
      &::after {
        background-color: var(--white);
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      background-color: var(--dark);
      transition: all 300ms ease;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0;
    }
    &:hover {
      &::after {
        width: 80%;
        height: 300%;
        transform: translate(-50%, -50%) rotate(20deg);
        z-index: -1;
        opacity: 0.2;
      }
    }

    .icon {
      position: relative;
      display: flex;
      width: calc(var(--1) * 24);
      height: calc(var(--1) * 24);
    }
  }
  .btn-area {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--1) * 10);
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: calc(var(--dsm-1) * 14);
    padding-inline: calc(var(--dsm-1) * 32);
    border-radius: calc(var(--dsm-1) * 12);
    gap: calc(var(--dsm-1) * 10);
    background-color: var(--white);
    color: var(--dark);
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: calc(var(--dsm-1) * 18);
    line-height: calc(var(--dsm-1) * 24);
    &.white {
      background-color: var(--white);
      color: var(--dark);
      &::after {
        background-color: var(--dark);
      }
    }
    &.green {
      background-color: var(--green);
      color: var(--dark);
      &::after {
        background-color: var(--dark);
      }
    }
    &.dark {
      background-color: var(--dark);
      color: var(--white);
      &::after {
        background-color: var(--white);
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
      background-color: var(--dark);
      transition: all 300ms ease;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0;
    }
    &:hover {
      &::after {
        width: 80%;
        height: 300%;
        transform: translate(-50%, -50%) rotate(20deg);
        z-index: -1;
        opacity: 0.2;
      }
    }

    .icon {
      position: relative;
      display: flex;
      width: calc(var(--dsm-1) * 24);
      height: calc(var(--dsm-1) * 24);
    }
  }
}
